@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  /* background: rgb(74,74,190);
  background-blend-mode: screen;
  background : linear-gradient(90deg, rgba(74,74,190,0.3) 9%, rgba(207,56,201,0.2) 80%, rgba(177,43,189,0.4) 100%, rgba(3,1,46,0.4) 100%) */
}

.bg-img{
  background-image: url('../public/img/bg.jpeg');
}
